<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel=stylesheet href="styles.css">
	</head>
	<body>
		<div class="container">
      <div class="row header">
      	<div class="col-xs-10 header text-capitalize text-center">
      			My Strange Collection
      	</div>
      	<div class="col-xs-2 login">
      			<img src="blank_user.gif" class="img-responsive">
      	</div>
      </div>
      <div class="row title">
        <div class="col-xs-12 text-center title">
            Categories:
        </div>
      </div>
      <div class="row content">
        <section class="tiles">
          <article class="style1">
  					<span class="image">
  						<img src="http://placekitten.com/300/250" alt="" />
  					</span>
  					<a href="onthewater.html">
  						<h2>On the Water</h2>
  						<div class="content">
  							<p>Description</p>
  						</div>
  					</a>
  				</article>
      </section>
      </div>

		</div>
	</body>
</html>
